<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Current</a></li>
    <li><a href="#tabs-2">Interships</a></li>
    <li><a href="#tabs-3">Past</a></li>
    <li><a href="#tabs-4">RoR</a></li>
    <li><a href="#tabs-5">Android</a></li>
    <li><a href="#tabs-6">Java/C#</a></li>    
    <li><a href="#tabs-7">Hadoop/Pig/Lucene</a></li>
    <li><a href="#tabs-8">Education</a></li>
  </ul>

  <div id="tabs-1">
    <%= render :partial => 'current' %>
  </div>

  <div id="tabs-2">
    <%= render :partial => 'internships' %>
  </div>

<div id="tabs-3">
    <%= render :partial => 'past' %>
  </div>

  <div id="tabs-4">
    <%= render :partial => 'rubyonrails' %>
  </div>
  
  <div id="tabs-5">
    <%= render :partial => 'android' %>
  </div>
    
  <div id="tabs-6">
    <%= render :partial => 'java' %>
  </div>

  <div id="tabs-7">
    <%= render :partial => 'hadoop' %>
  </div>

  <div id="tabs-8">
    <%= render :partial => 'education' %>
  </div>
</div>

<u><%#= link_to "Virtual Physics experiments for kids", experiments_path %></u>


